In [7]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
%cd C:\\Users\\linds\\OneDrive\\Documents\\samoa_corals_data

C:\Users\linds\OneDrive\Documents\samoa_corals_data

In [10]:
full = pd.read_csv('AS_all_full2.csv')
del full['X']
del full['Unnamed: 0']
full.head(3)

,x,y,ID,bty,hs,rug,slope,asp,shore_ed,wl_ed,vill_third_q,vill_ed,esi,esi_ed,ucur,vcur,scler_preds,plate_preds,massive_preds,free_living_preds,encrusting_preds,long,lat,encrusting,encrusting_real,free_livin,free_livin_real,massive,massive_real,plate,plate_real,scler,scler_real,surveyed
0,489835.101656,8.777890e+06,Swains,179.392502,-179.392502,-179.392502,-179.392502,-179.392502,346.842959,355630.113330,330.658,390938.964102,Freshwater Marshes,355629.792157,-0.139294,-0.031174,31.75075,34.2836,21.473813,0.0,40.334,-171.093065,-11.055434,0,0.0,0,0,0,0.0,0,0.0,0,0.0,0
1,489835.101656,8.777940e+06,Swains,150.634003,-150.634003,-150.634003,-150.634003,-150.634003,339.805906,355679.710817,330.658,390983.945601,Freshwater Marshes,355679.389658,-0.139294,-0.031174,31.75075,34.2836,21.511312,0.0,40.334,-171.093065,-11.054981,0,0.0,0,0,0,0.0,0,0.0,0,0.0,0
2,489835.101656,8.777990e+06,Swains,137.050797,-137.050797,-137.050797,-137.050797,-137.050797,334.467180,355729.308418,330.658,391028.928318,Freshwater Marshes,355728.987271,-0.139294,-0.031174,31.75075,34.2836,21.539437,0.0,40.334,-171.093065,-11.054529,0,0.0,0,0,0,0.0,0,0.0,0,0.0,0

In [14]:
# Where growth type was surveyed, count as value; otherwise, NaN
full['encrusting_real'] = np.where(full['encrusting'] == 0, np.nan, full['encrusting_real'])
full['free_livin_real'] = np.where(full['free_livin'] == 0, np.nan, full['free_livin_real'])
full['massive_real'] = np.where(full['massive'] == 0, np.nan, full['massive_real'])
full['plate_real'] = np.where(full['plate'] == 0, np.nan, full['plate_real'])
full['scler_real'] = np.where(full['scler'] == 0, np.nan, full['scler_real'])

In [17]:
full.surveyed.sum()/len(full)

0.020325539692392577

In [21]:
full['surveyed_ID'] = np.where(full.surveyed != 0, full.ID, 'Not surveyed')

In [22]:
full.to_csv('AS_all_full.csv', index=False)

In [25]:
full['surveyed_ID'].value_counts()

Not surveyed    142043
Tut               1823
OfuOlo             813
Tau                311
Name: surveyed_ID, dtype: int64

In [23]:
full.head(2)

,x,y,ID,bty,hs,rug,slope,asp,shore_ed,wl_ed,vill_third_q,vill_ed,esi,esi_ed,ucur,vcur,scler_preds,plate_preds,massive_preds,free_living_preds,encrusting_preds,long,lat,encrusting,encrusting_real,free_livin,free_livin_real,massive,massive_real,plate,plate_real,scler,scler_real,surveyed,surveyed_ID
0,489835.101656,8.777890e+06,Swains,179.392502,-179.392502,-179.392502,-179.392502,-179.392502,346.842959,355630.113330,330.658,390938.964102,Freshwater Marshes,355629.792157,-0.139294,-0.031174,31.75075,34.2836,21.473813,0.0,40.334,-171.093065,-11.055434,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,Not surveyed
1,489835.101656,8.777940e+06,Swains,150.634003,-150.634003,-150.634003,-150.634003,-150.634003,339.805906,355679.710817,330.658,390983.945601,Freshwater Marshes,355679.389658,-0.139294,-0.031174,31.75075,34.2836,21.511312,0.0,40.334,-171.093065,-11.054981,0,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,Not surveyed